.search-area {
  text-align: center;
  position: relative;
}
#searchInput {
  text-align: center;
  color: rgb(22, 21, 22);
  background-color: rgb(255, 254, 254);
  border-radius: 50px;
  border-color: rgb(178, 162, 194);
  border-width: 1px;
  width: 200px;
  margin: 10px;
}
#searchButton {
  color: rgb(22, 21, 22);
  background-color: rgb(255, 254, 254);
  border-radius: 50px;
  border-color: rgb(178, 162, 194);
  margin: 10px;
  border-width: 1px;
  width: 90px;
}
.info-area {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 380px;
  height: 450px;
  background-color: rgb(231, 231, 231);
  opacity: 0.6;
  box-shadow: 0 0 20px 9px rgb(59, 84, 116);
  border-radius: 35px;
  padding: 5px;
  margin: 30px auto;
  font-size: 20px;
}
h1 {
  text-align: center;
  margin-top: 50px;
  position: relative;
  color: rgb(34, 49, 70);
  font-size: 3rem;
}
body {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
}

.daily-item {
  list-style-type: none;
}
.info-text {
  margin-top: 20px;
}
.error-message {
  text-align: center;
}
header {
  text-align: center;
  font-size: 30px;
  color: rgb(34, 49, 70);
}
